@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<br />
<br />
@* <BoardCS  Id="00000000-0000-0000-0000-000000000000" /> *@